<!-- be moderator -->
<section class="be-moderator">
  <div class="d-flex section-wrapper">
    <img src="{{ 'assets/images/be-moderator.png' | relative_url }}">
    <div class="w-100 d-flex flex-column">
      <div class="w-75 d-flex flex-column pt-4 pb-2 px-3 ml-5">
        <h1 class="my-0 pt-5 text-center">
          Quer ser um moderador do vcsabia.online?
        </h1>
      </div>
      <div class="w-75 d-flex justify-content-center">
        <a href="#" class="text-center">
          <span>
            Clique Aqui
          </span>
        </a>
      </div>
    </div>
  </div>
</section>