<!-- curiosities -->
<section data-aos="fade-up" class="blog">
  <!-- banner get -->
  <div class="section-wrapper">
    <div class="d-flex justify-content-center mt-2">
      <img src="{{ 'assets/images/banner-get.jpg' | relative_url }}">
    </div>
  </div> <!-- end banner get -->
</section>
<section data-aos="fade-up" class="curiosities">
  <div class="section-wrapper">
    <!-- title curiosities -->
    <h1 class="text-center px-2 px-md-0">
      Vc sabe de curiosidades sobre o mundo animal? Então mande pra toda comunidade!
    </h1> <!-- end title curiosities -->
    <!-- btn curiosities -->
    <div class="form-group d-flex justify-content-center btn-curiosities">
      <input type="button" value="Clique aqui para escrever" class="curiosities-icon btn"/>
    </div> <!-- end btn curiosities -->
  </div>
</section> <!-- end curiosities -->