<!-- did you know open post -->
<section class="did-you-know text-start py-2 my-2 px-3">
  <div>
    <h5 class="text-uppercase">Outros Vcsabia</h5>
  </div>
  <div class="mt-4 mb-2 d-flex hover-post px-1 py-2">
    <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
    <a class="d-flex flex-column justify-content-center">
      <span class="text-uppercase mb-1">Título Exemplo</span>
      <span>Lorem Ipsum is simply dummy text</span>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="my-0 mb-2 d-flex hover-post px-1 py-2">
    <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
    <a class="d-flex flex-column justify-content-center">
      <span class="text-uppercase mb-1">Título Exemplo</span>
      <span>Lorem Ipsum is simply dummy text</span>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="my-0 mb-2 d-flex hover-post px-1 py-2">
    <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
    <a class="d-flex flex-column justify-content-center">
      <span class="text-uppercase mb-1">Título Exemplo</span>
      <span>Lorem Ipsum is simply dummy text</span>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="my-0 mb-2 d-flex hover-post px-1 py-2">
    <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
    <a class="d-flex flex-column justify-content-center">
      <span class="text-uppercase mb-1">Título Exemplo</span>
      <span>Lorem Ipsum is simply dummy text</span>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="my-0 mb-2 d-flex hover-post px-1 py-2">
    <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
    <a class="d-flex flex-column justify-content-center">
      <span class="text-uppercase mb-1">Título Exemplo</span>
      <span>Lorem Ipsum is simply dummy text</span>
    </a>
  </div>
  <hr class="py-1 my-0">
  <div class="my-0 mb-2 d-flex hover-post px-1 py-2">
    <img src="{{ 'assets/images/facebook.png'  | relative_url }}" class="mr-2">
    <a class="d-flex flex-column justify-content-center">
      <span class="text-uppercase mb-1">Título Exemplo</span>
      <span>Lorem Ipsum is simply dummy text</span>
    </a>
  </div>
  <hr class="py-1 my-0">
</section> <!-- end did you know open post -->