<!-- icons -->
<button class="floating-container">
  <div class="floating-button">+</div>
  <div class="element-container">
    <span class="float-element tooltip-left">
      <i class="material-icons">
        <a class="curiosities-icon">
          <img src="{{ 'assets/images/megaphone.png' | relative_url }}" data-toggle="tooltip" data-placement="left" title="Teste" class="hover-icon">
        </a>
      </i>
    </span>
    <span class="float-element">
      <i class="material-icons">
        <a class="notification-icon">
          <img src="{{ 'assets/images/notification.png' | relative_url }}" data-toggle="tooltip" data-placement="left" title="Teste" class="hover-icon">
        </a>
      </i>
    </span>
    <span class="float-element">
      <i class="material-icons">
        <a class="email-icon">
          <img src="{{ 'assets/images/mail.png' | relative_url }}" data-toggle="tooltip" data-placement="left" title="Teste" class="hover-icon">
        </a>
      </i>
    </span>
  </div>
</button> <!-- end icons -->