<!-- indicate -->
<section data-aos="fade-up" class="indicate">
  <div class="section-wrapper">  
    <div class="d-flex indicate-section">
      <div>
        <p class="mb-1 px-2">
          Indique seus amigos apaixonados pelo mundo animal
        </p>
        <p class="responsive-text mt-1 px-2">
          Indicar Amigos para se juntarem ao nosso grupo!
        </p>
      </div>
      <a id="indicate">
        <div id="btn-indicate">
          <span>
            Indicar Amigos 
          </span>
          <img src="{{ 'assets/images/share.png'  | relative_url }}">
        </div>
      </a>
    </div>
  </div>
</section> <!-- end indicate -->