// be moderator
.be-moderator {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 959px) {
    background-image: url("images/bg-be-moderator.png");
  }

  img {
    width: 250px;
  }

  h1 {
    font-size: 22px;
    font-weight: 600;
  }

  a {
    text-decoration: underline;
    margin-right: 68px;
    color: #F2902C;
  }

  span {
    font-size: 18px;
  }
}