// indicate
.indicate {
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 4px solid #6225B5;
  background-image: url("images/indique-mobile.jpg");

  @media (min-width: 959px) {
    background-image: url("images/indique.jpg");
  }

  p {
    font-size: 18px;
    color: white;
    background-color: #0C3900;
    margin-bottom: 0;
  }

  span {
    color: black;
    font-weight: 600;
  }

  img {
    width: 48px;
    padding-left: 4px
  }

  #btn-indicate {
    background: #FFCF00;
    position: absolute;
    cursor: pointer;
    z-index: 999999;
    padding: 0 36px;
    border-radius: 20px;
    border: 2px solid #000; 
    right: 65px;
    top: 179px;

    @media (min-width: 383px) {
      padding: 0 16px;
      top: 180px;
      right: 95px;
    }

    @media (min-width: 414px) {
      top: 180px;
      right: 106px; 
    }

    @media (min-width: 427px) {
      top: 180px;
      right: 112px;
    }    

    @media (min-width: 959px) {
      right: 0;
      top: 50px;

      &:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .responsive-text {
    margin-bottom: 52px;

    @media (min-width: 959px) {
      margin-bottom: 0;
    }
  }

  .indicate-section {
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
  }
}
